.header
    .logo_area
        a(href="/") 
            img(src="/images/logo.jpeg", alt="logo_image")
    .menu_area 
        ul
            li 
              a(href="/pages/about_us") 私たちについて
            li 
              a(href="/pages/cordinate") コーディネート例
            li
              a(href="/pages/flow") お申込みの流れ
            li
              a(href="/pages/contact") お問い合わせ
    .open_btn_area
        .openbtn
            span
            span
            span
        <nav id="g-nav">
        <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
        <ul>
        <li><a href="#">Top</a></li> 
        <li><a href="#">About</a></li> 
        <li><a href="#">Service</a></li> 
        <li><a href="#">Contact</a></li> 
        </ul>
        </div>
        </nav>