.header
    .logo_area
        a(href="/") 
            img(src="/images/logo.jpeg", alt="logo_image")
    .menu_area 
        ul
            li 
              a(href="/pages/about_us") 私たちについて
            li 
              a(href="/pages/cordinate") コーディネート例
            li
              a(href="/pages/flow") お申込みの流れ
            li
              a(href="/pages/contact") お問い合わせ
    