.header
    .logo_area
        img(src="/images/log.png", alt="logo_image")
    .title_area
        h2= title
    .menu_area 
        ul
            li about us
            li コーディネート例
            li 申込みの流れ
            li お問い合わせ
    