extends layout

block content
  head 
    include ./header
  body.wf-sawarabigothic
    .top_image_area
        img(src="/images/top.jpg", alt="")
    .top_about_area
      h2 企業理念
      p ようこそ、#{title}へ。<br>美しい空間で暮らしを彩り、あなたのライフスタイルを反映するために、私たちがお手伝いいたします。<br>#{title}は、女性のための個性的で贅沢なインテリアコーディネートサービスです。私たちはあなたの理想の空間を共にデザインし、実現への道をご案内します。
      ul  
        li 個別のコンサルテーション: あなたの好みやライフスタイルに合わせて、一緒に理想の空間をデザインします。
        li トレンドに敏感な提案: 最新のデザイントレンドを取り入れながらも、長く愛せる空間を提案します。
        li 予算に合わせたプラン: あなたの予算に合わせた柔軟なプランで、理想のインテリアを手に入れましょう。
    .top_cordinate_area
      .top_cordinate_title
        h2 コーディネート例
        p 過去のプロジェクトや成功事例をご紹介。他のお客様と同じように、あなたも素敵な空間に出会えるかもしれません。<br>まずは無料のコンサルティングをお試しいただくか、お気軽にご相談ください。あなたの理想の空間づくりの第一歩がここから始まります。
      .top_cordinate_1
        img(src="", alt="cordinate_1")
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルは、個性的でアーティスティックな雰囲気を持ちながらも、くつろぎと快適さも大切にする特徴があります。ブルックリンスタイルの特徴的な要素の一つは、工業的なデザイン要素の活用です。
          | 露出したレンガの壁や鉄やスチールの家具が、空間に都市的でクールな雰囲気をもたらします。同時に、これらの素材は自然素材とも調和し、アーバンとナチュラルが見事に融合しています。
          | 自然素材の使用もブルックリンスタイルの特徴の一つで、天然木や無垢材、リサイクルされた木材が広く採用されます。これにより、空間には温かみと質感が加わり、居心地の良さが生まれます。
          | また、アーティスティックなディテールが随所に取り入れられています。アートや手作りのアイテムが巧みに配置され、個性的でクリエイティブな雰囲気を演出しています。
          | ブルックリンスタイルは中古品やアンティークの家具を好んで使用し、これが空間にユニークで味わい深い雰囲気をもたらしています。古着やアンティークのアイテムが組み合わさることで、
          | 個性的で他にはない空間が生み出されます。このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
      .top_cordinate_2
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルは、個性的でアーティスティックな雰囲気を持ちながらも、くつろぎと快適さも大切にする特徴があります。ブルックリンスタイルの特徴的な要素の一つは、工業的なデザイン要素の活用です。
          | 露出したレンガの壁や鉄やスチールの家具が、空間に都市的でクールな雰囲気をもたらします。同時に、これらの素材は自然素材とも調和し、アーバンとナチュラルが見事に融合しています。
          | 自然素材の使用もブルックリンスタイルの特徴の一つで、天然木や無垢材、リサイクルされた木材が広く採用されます。これにより、空間には温かみと質感が加わり、居心地の良さが生まれます。
          | また、アーティスティックなディテールが随所に取り入れられています。アートや手作りのアイテムが巧みに配置され、個性的でクリエイティブな雰囲気を演出しています。
          | ブルックリンスタイルは中古品やアンティークの家具を好んで使用し、これが空間にユニークで味わい深い雰囲気をもたらしています。古着やアンティークのアイテムが組み合わさることで、
          | 個性的で他にはない空間が生み出されます。このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
        img(src="", alt="cordinate_2")
      .top_cordinate_3
        img(src="", alt="cordinate_3")
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルは、個性的でアーティスティックな雰囲気を持ちながらも、くつろぎと快適さも大切にする特徴があります。ブルックリンスタイルの特徴的な要素の一つは、工業的なデザイン要素の活用です。
          | 露出したレンガの壁や鉄やスチールの家具が、空間に都市的でクールな雰囲気をもたらします。同時に、これらの素材は自然素材とも調和し、アーバンとナチュラルが見事に融合しています。
          | 自然素材の使用もブルックリンスタイルの特徴の一つで、天然木や無垢材、リサイクルされた木材が広く採用されます。これにより、空間には温かみと質感が加わり、居心地の良さが生まれます。
          | また、アーティスティックなディテールが随所に取り入れられています。アートや手作りのアイテムが巧みに配置され、個性的でクリエイティブな雰囲気を演出しています。
          | ブルックリンスタイルは中古品やアンティークの家具を好んで使用し、これが空間にユニークで味わい深い雰囲気をもたらしています。古着やアンティークのアイテムが組み合わさることで、
          | 個性的で他にはない空間が生み出されます。このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
      .top_cordinate_button_area
        button More
    .top_flow_area
      h2 お申し込みの流れ
      p まずはリモートで相談に乗ります。相談料は無料なので、お気軽にご相談ください。


    
  footer
    include ./footer

