extends layout

block content
  header 
    include ./header
  body.wf-sawarabigothic
    .top_image_area
        .slider
        //- スクロールエリア
        .scrolldown 
          span scroll
    .top_about_area
      h2 企業理念
      p ようこそ、#{title}へ。<br>美しい空間で暮らしを彩り、あなたのライフスタイルを反映するために、私たちがお手伝いいたします。<br>#{title}は、女性のための個性的で贅沢なインテリアコーディネートサービスです。私たちはあなたの理想の空間を共にデザインし、実現への道をご案内します。
      ul  
        li 個別のコンサルテーション: あなたの好みやライフスタイルに合わせて、一緒に理想の空間をデザインします。
        li トレンドに敏感な提案: 最新のデザイントレンドを取り入れながらも、長く愛せる空間を提案します。
        li 予算に合わせたプラン: あなたの予算に合わせた柔軟なプランで、理想のインテリアを手に入れましょう。
    .top_cordinate_area
      .top_cordinate_title
        h2 コーディネート例
        p 過去のプロジェクトや成功事例をご紹介。他のお客様と同じように、あなたも素敵な空間に出会えるかもしれません。<br>まずは無料のコンサルティングをお試しいただくか、お気軽にご相談ください。あなたの理想の空間づくりの第一歩がここから始まります。
      .top_cordinate_1
        img(src="images/cordinate_1.jpg", alt="cordinate_1")
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
      .top_cordinate_2
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
        img(src="images/cordinate_2.jpg", alt="cordinate_2")
      .top_cordinate_3
        img(src="images/cordinate_3.jpg", alt="cordinate_3")
        p ブルックリンスタイルは、アメリカのニューヨーク市にあるブルックリン地区を発祥とするインテリアデザインのスタイルで、都市のクールでアーバンな雰囲気とアートの要素が絶妙に融合されています。
          | このスタイルでは、ナチュラルであたたかみのあるカラーパレットが一般的です。ベージュ、茶色、灰色、緑などが用いられ、シンプルでありながらも心地よい空間
          | を作り出します。オープンなレイアウト、高い天井、大きな窓などが取り入れられ、開放感と明るさが特徴的です。これにより、空間全体がより広がりを感じさせ、自然光が活かされます。
          | 最後に、快適な家具とテキスタイルがブルックリンスタイルの重要な要素です。快適なソファや座椅子、大きなラグなどが配置され、居心地の良い空間が作り上げられます。ブルックリンスタイルは、
          | 都市の中でアートとリラックスを同時に楽しむためのデザインアプローチとして、多くの人々に愛されています。
      .top_cordinate_button_area
        button.btn 
          a(href="pages/cordinate") More
    .top_flow_area
      .step_title_area
        h2 お申し込みの流れ
        p まずはリモートで相談に乗ります。相談料は無料なので、お気軽にご相談ください。
      .step_area
        h3 step.1　お申し込み
        p オンラインでのご相談をお選びいただけます。 WEB予約フォーム、店頭、お電話にてお申し込みください。
        | <br>※トータルコーディネートのご案内となりますので、1アイテムのみご検討の方、レイアウトのみのご相談は承ることができません。
        | <br>※オンライン相談ではMicrosoft Teamsを使用しますので、カメラのついたデバイスをご準備ください。事前にコーディネートサービスの招待メールを担当スタッフよりお送りします。
        hr
        h3 step.2 ご希望のヒアリング
        p 事前に担当スタッフからお電話やメールにてご希望の条件やイメージをヒアリングさせていただきます。
        | <br> 予め以下のものをご用意いただくと、ご相談がスムーズに進みます。
        ul
          li お部屋の寸法が入った図面または間取り図
          li お好きなインテリアのイメージ写真
          li ご愛用の家具の寸法
          li ご希望の商品
        hr
        h3 step.3 プランのご提案
        p ［オンライン相談］ご予約の日時に、お送りしました招待メールより「Microsoft Teams会議に参加」してください。
        | <br>事前にお聞かせいただいた理想の暮らしのイメージやお部屋の図面をもとに、アイテム、レイアウト、カラーコーディネートをご提案します。
        | <br>あらかじめ家具のサイズやカラー、配置場所などを確認してからご購入いただけるため、イメージ通りのお部屋を実現できます。
      .top_flow_button_area
        button.btn
          a(href="/pages/flow") More 
  foot
    include ./footer

