body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DFD8C8;
  color: #2b2b2b;
  opacity: 0.8;
  .wf-sawarabigothic { font-family: "Sawarabi Gothic"; }
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

.wf-sawarabigothic { font-family: "Sawarabi Gothic"; }

/* header設定 */
.header {
  background-color: #f9f5f2;
  width: 100%;
  height: 100px;
  display: flex;
}

.header .logo_area{
  width: 40%;
}

.header .menu_area {
  width: 60%;
}

.header img {
  height: 100px;
}


.header ul {
  list-style-type: none;
  height: 100px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.header ul li {
  font-size: 20px;
  width: 25%;
  margin-top:40px;
  text-align: center;
}

.header ul li:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
}


/* top page設定 */
.slider {
  width: 100%;
  height: 100vh
}


/* top 企業理念 */
.top_about_area {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.top_about_area h2, .top_about_area p, .top_about_area ul{
  text-align: center;
}

/* top コーディネート例 */
.top_cordinate_area {
  background-color: #CEC2AA;
  display: flex;
  flex-direction: column;
}

.top_cordinate_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.top_cordinate_title h2, .top_cordinate_title p{
  text-align: center;
}

.top_cordinate_1, .top_cordinate_2, .top_cordinate_3 {
  display: flex;
}

.top_cordinate_1 img, .top_cordinate_2 img, .top_cordinate_3 img{
  width: 50%;
  margin: 0px 1%;
  border-radius: 10%;
  border: 2px solid #666;

}

.top_cordinate_1 p, .top_cordinate_2 p, .top_cordinate_3 p  {
  width: 50%;
  text-align: center;
  margin: auto 5%;
}

/* button 共通設定　*/
.top_cordinate_button_area, .top_flow_button_area{
  width: 30%;
  margin: 0 0 50px auto;
}

.top_cordinate_button_area button {
  background-color: #CEC2AA;
}


/* top お申し込みの流れ　設定 */
.top_flow_area {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.step_title_area {
  text-align: center;
  margin-bottom: 70px;
}

.step_area {
  width: 80%;
  margin: auto;
  justify-content: center
}

.top_flow_button_area button {
  background-color: #DFD8C8;
}

/* More Button 設定　*/
.btn {
	font-size: 14px;
	border: 1px solid #666;
	text-align: center;
	max-width: 200px;
	margin: 20px auto;
	font-family: 'Noto Serif JP', serif;
}

.btn {
	position: relative;
	border: none;
	border-bottom: 1px solid #666;
	width: 300px;
	max-width: 90%;
}

.btn::before {
	content: "";
	display: block;
	width: 30px;
	height: 1px;
	background: #666;
	rotate: 40deg;
	position: absolute;
	right: -3px;
	bottom: 9px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn a {
	color: #666;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}



/* footer設定 */
.footer {
  background-color: #f9f5f2;
  width: 100%;
  height: 100px;
}

.footer p {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
}